<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Ofek Pintok on 12/15/18 11:55 PM
  ~ Copyright (c) 2018 . All rights reserved
  ~ Last modified 12/15/18 11:49 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ofek.movieapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MoviesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.DetailsActivity" />
        <activity android:name=".threads.AsyncTaskActivity" />
        <activity android:name=".threads.ThreadsHandlerActivity" />
        <activity android:name=".services.BackgroundServicesActivity" />


        <service android:name=".services.WorkOfService"
            android:exported="false"/>
        <service android:name=".services.WorkOfIntentService"
            android:exported="false"/>

    </application>

</manifest>